owner               = "Kate.Drew" # update
github_organisation = "MadeTechAcademy" # update if instructed
github_repo         = "pl-2025-katehjd21" # eg chapter2-pipelines-tess-barnes-mt
account_id          = 261219435789 # update to the sandbox account number, see your aws config
state_bucket        = "kates-s3-bucket" # from the s3 backend exercise
state_key_alias     = "alias/kates_kms_alias" # from the s3 backend exercise